body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(29, 27, 58);
    color: white;
    font: normal 15pt arial;
}
header{
    margin-top: 100px;
}
header h2 {
    font-size: 30pt;
    font-weight: 700;
}
section{
    background-color:rgb(247, 244, 244);
    padding: 30px;
    width: 60%;
    border-radius: 25px;
    color: rgb(107, 104, 104); 
    margin-top: 30px; 
}
section div{
    margin-top: 5px;
}
label{
    margin: 0px;
}
input{
    margin: 10px;
    border-radius: 10px;
    border: 0px;
    width: 30%;
    padding: 6px;
}
button{
    width: 15%;
    background-color: rgb(62, 123, 255);
    border: 0px;
    border-radius: 15px;
    padding: 9px;
    color: white;
    margin-top: 15px;
    font-weight: 700;
}
